* {
  margin: 0;
  padding: 0;
}

h1 {
  padding-bottom: 25px;
}
h3 {
  padding-bottom: 25px;
}

.image {
  height:auto;
  width: 450px;
  align-items: center;
  display: inline-block;
  margin: 5px;
  border: 10px solid #fff;
  border-bottom: 60px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}

li {
  display: inline-block;
  padding-bottom: 25px;
  margin-top: 10px;
}

body {
  background-color: #45b1e2;
  font-family: 'Karla', sans-serif;
  color: white;
}

img.logo {
  padding-left: 80px;
  padding-top: 20px;
}

/*footer {
  background-color: white;
  width: 100%;
  height: 250px;
}*/

p {
  background-image: url(../dog.jpg) center;
  padding: 3px;
}

#login {
  position: absolute;
  top: 1rem;
  right: 5.7rem;
}

#main-content {
  position: absolute;
  padding-top: 6rem;
  text-align: center;
  top: 5rem;
  left: 0;
  width: 100%;
  height: 100%;
}

#register {
  position: absolute;
  top: 1rem;
  right: 2rem;
}

#sign-out {
  position: absolute;
  top: 1rem;
  right: 2rem;
}

input {
  font-style: italic;
  font-size: 1rem;
  text-align: center;
  width: 20%;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 1rem;
}

.button {
  color: white;
  background-color: #96c061;
  height: 2rem;
  width: 9rem;
  box-sizing: border-box;
  border-radius: 5%;
}

.profileButton {
  color: white;
  margin-top: 15px;
  font-size: 13px;
  background-color: #96c061;
  height: 2rem;
  width: 5rem;
  box-sizing: border-box;
  border-radius: 5%;
}
.caption {
  width: 40%;
}


a {
  text-decoration: none;
  color: white;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;

}
/*green #96c061
blue #45b1e2
grey #f0f0f0
barkbox font is Apercu */
