body {
  background-color: #45b1e2;
  font-family: 'Karla', sans-serif;
  color: white;
}

#login {
  position: absolute;
  top: 1rem;
  right: 5.7rem;
}

#register {
  position: absolute;
  top: 1rem;
  right: 2rem;
}

#sign-out {
  position: absolute;
  top: 1rem;
  right: 2rem;
}

input {
  font-style: italic;
  font-size: 1rem;
  text-align: center;
  width: 20%;
  display: inline-block;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.button {
  color: white;
  background-color: #96c061;
  height: 2rem;
  width: 9rem;
  box-sizing: border-box;
  border-radius: 10%;
}

a {
  text-decoration: none;
  color: white;
}

/*green #96c061
blue #45b1e2
grey #f0f0f0
barkbox font is Apercu */
